@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoom-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-container {
    width: 800px;
    max-height: 600px;
    overflow-y: auto; /* 내용이 넘치면 스크롤 */
}

.advanced-filter-modal-container {
    z-index: 10000;
    pointer-events: auto;
    user-select: none;
}
