/* 자금 재계산 버튼 스타일 */
.recalculate-button {
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    margin: 0;
    border: 1px solid rgb(255 215 0 / 40%);
    border-radius: 8px;
    background-color: rgb(17 17 17 / 100%) !important;
    box-shadow: none !important;
    color: white;
    font-family: "'Inter', 'Pretendard'", sans-serif !important;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out, border-color 0.2s ease-out;
    cursor: pointer;
    outline: none;
}

/* 자금 재계산 버튼 활성 상태 */
.recalculate-button.recalculate-button-active {
    border-color: rgb(255 215 0 / 80%) !important;
    background-color: rgb(255 215 0 / 40%) !important;
    box-shadow: 0 0 5px rgb(255 215 0 / 30%) !important;
    font-weight: 600 !important;
}

/* 비활성화 상태일 때 그림자를 명시적으로 제거 */
.recalculate-button:not(.recalculate-button-active) {
    box-shadow: none !important;
}
