.reset-filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    padding: 0;
    border: 1px solid rgb(255 215 0 / 40%);
    border-radius: 4px;
    background-color: rgb(17 17 17 / 100%);
    box-shadow: 0 0 2px rgb(255 215 0 / 20%);
    color: rgb(255 215 0 / 90%);
    transition: all 0.2s ease;
    cursor: pointer;
    outline: none;
}

.reset-filter-button:hover {
    border-color: rgb(255 215 0 / 70%);
    background-color: rgb(52 46 14 / 70%);
    box-shadow: 0 0 2px rgb(255 215 0 / 30%);
    transform: scale(1.05);
}

.reset-filter-button:active {
    background-color: rgb(52 46 14);
    box-shadow: inset 0 0 0 1000px rgb(255 215 0 / 15%), 0 0 2px rgb(255 215 0 / 30%);
    transform: scale(0.95);
}

.reset-filter-button:focus {
    border-color: rgb(255 215 0 / 80%);
    outline: none;
}

/* 회전 애니메이션 */
@keyframes rotate {
    0% {
        transform: rotate(70deg);
    }

    100% {
        transform: rotate(450deg);
    }
}

.reset-filter-button .reset-icon {
    transition: transform 0.2s ease !important;
}

.reset-filter-button.rotating .reset-icon {
    animation: rotate 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.reset-filter-button-container {
    position: relative;
    z-index: 2;
    display: inline-block;
    overflow: visible !important;
    transition: background-color 0.2s ease !important;
}

/* 활성 상태 컨테이너 스타일 */
.reset-filter-container-active {
    border-radius: 4px;
    background-color: #121212 !important;
}

/* 활성 상태 버튼 클릭 시 스타일 */
.reset-filter-button.reset-filter-button-active:active {
    background-color: rgb(76 67 20) !important;
    box-shadow: inset 0 0 0 1000px rgb(255 215 0 / 20%), 0 0 4px rgb(255 215 0 / 30%);
}
