.price-axis-tooltip {
    position: absolute;
    z-index: 60;
    padding: 2px 7px 3px;
    border: 1px solid rgb(255 215 0 / 40%);
    border-radius: 3px;
    background-color: rgb(28 28 36 / 95%);
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}
