/* StrategyEditor 경로 초기화 버튼 */
.strategy-editor-path-reset-button-container {
    position: relative;
    z-index: 2;
    display: inline-block;
    overflow: visible !important;
    transition: background-color 0.2s ease !important;
}

.strategy-editor-path-reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 1px solid rgb(255 215 0 / 40%);
    border-radius: 4px;
    background-color: rgb(17 17 17 / 100%);
    box-shadow: 0 0 2px rgb(255 215 0 / 20%);
    color: rgb(255 215 0 / 90%);
    transition: all 0.2s ease;
    cursor: pointer;
    outline: none;
}

.strategy-editor-path-reset-button:hover {
    border-color: rgb(255 215 0 / 70%);
    background-color: rgb(52 46 14 / 70%);
    box-shadow: 0 0 2px rgb(255 215 0 / 30%);
    transform: scale(1.05);
}

.strategy-editor-path-reset-button:active {
    background-color: rgb(52 46 14);
    box-shadow: inset 0 0 0 1000px rgb(255 215 0 / 15%), 0 0 2px rgb(255 215 0 / 30%);
    transform: scale(0.95);
}

/* 회전 애니메이션 */
@keyframes rotate-path-reset {
    0% {
        transform: rotate(70deg);
    }

    100% {
        transform: rotate(450deg);
    }
}

.strategy-editor-path-reset-button svg {
    transition: transform 0.2s ease !important;
}

.strategy-editor-path-reset-button.rotating svg {
    animation: rotate-path-reset 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
