.time-axis-tooltip {
    position: absolute;
    pointer-events: none;
    background-color: rgba(28, 28, 36, 0.95);
    color: #ffffff;
    padding: 2px 7px 3px 7px;
    font-size: 14px;
    border-radius: 3px;
    z-index: 1200;
    display: none;
    white-space: nowrap;
    border: 1px solid rgba(255, 215, 0, 0.4);
    font-family: "'Inter', 'Pretendard'", sans-serif;
}
