@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-container {
    width: 800px;
    max-height: 600px;
    overflow-y: auto; /* 내용이 넘치면 스크롤 */
}

.advanced-filter-modal-container {
    user-select: none;
    pointer-events: auto;
    z-index: 10000;
}
