.reset-filter-button {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid rgba(255, 215, 0, 0.4);
    border-radius: 4px;
    background-color: rgba(17, 17, 17, 1);
    cursor: pointer;
    color: rgba(255, 215, 0, 0.9);
    transition: all 0.2s ease;
    outline: none;
    box-shadow: 0 0 2px rgba(255, 215, 0, 0.2);
}

.reset-filter-button:hover {
    transform: scale(1.05);
    border-color: rgba(255, 215, 0, 0.7);
    background-color: rgba(52, 46, 14, 0.7);
    box-shadow: 0 0 2px rgba(255, 215, 0, 0.3);
}

.reset-filter-button:active {
    transform: scale(0.95);
    background-color: rgb(52, 46, 14);
    box-shadow: inset 0 0 0 1000px rgba(255, 215, 0, 0.15), 0 0 2px rgba(255, 215, 0, 0.3);
}

.reset-filter-button:focus {
    outline: none;
    border-color: rgba(255, 215, 0, 0.8);
}

/* 회전 애니메이션 */
@keyframes rotate {
    0% {
        transform: rotate(70deg);
    }
    100% {
        transform: rotate(450deg);
    }
}

.reset-filter-button .reset-icon {
    transition: transform 0.2s ease !important;
}

.reset-filter-button.rotating .reset-icon {
    animation: rotate 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.reset-filter-button-container {
    position: relative;
    z-index: 2;
    transition: background-color 0.2s ease !important;
    overflow: visible !important;
    display: inline-block;
}

/* 활성 상태 컨테이너 스타일 */
.reset-filter-container-active {
    background-color: #121212 !important;
    border-radius: 4px;
}

/* 활성 상태 버튼 클릭 시 스타일 */
.reset-filter-button.reset-filter-button-active:active {
    background-color: rgb(76, 67, 20) !important;
    box-shadow: inset 0 0 0 1000px rgba(255, 215, 0, 0.2), 0 0 4px rgba(255, 215, 0, 0.3);
}
