.loading-overlay {
    transform: translateZ(0);
    transition: opacity 0.3s ease-out;
    backface-visibility: hidden;
    will-change: opacity;
}

.chart-loading-indicator {
    width: 42px;
    height: 42px;
    margin: 0 auto;
    border: 3px solid rgb(20 20 20 / 15%);
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(255 215 0 / 15%);
    transform: translateZ(0);
    animation: spin 1s cubic-bezier(0.4, 0.1, 0.3, 1) infinite;
    border-top-color: #FFD700;
    will-change: transform;
}
